<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>

      <!--********************************** Velibs Service ********************************** -->
      <service name="VelibsLib.VelibsService" behaviorConfiguration="VelibsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9011/VelibsService"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="wsDualHttpBinding" bindingName="NoSecurity" contract="VelibsLib.IVelibsService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <!-- ********************************** behaviors ********************************** -->
    <behaviors>
      <serviceBehaviors>
        <!-- VelibsService Behavior -->
        <behavior name="VelibsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true "/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>

      <wsDualHttpBinding>
        <binding name="NoSecurity">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
      
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
